@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*MAIN STYLES ON PAGE*/
.grid-container{
    background-color: #151324;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    margin: 0 auto;
    row-gap: 1rem;
}

section {
    max-width: 1500px;
    min-width: 323px;
}

/*HEADER STYLING AND POSITIONING*/
header {
    grid-column: 1/14;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background-color: #1A172C;
}

/* styling of top navigation bar */
.header-nav{
    grid-row: 1;
    grid-column: 1/13;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 1rem;
    padding: 1rem;
}

.header-nav button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color:#E4E1DC;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
}

.header-nav button:hover{
    color: #814E69;
}

.header-nav button:active{
    color: #CD7CA4;
}

.active {
    color: #819A88 !important;
}

/*TOP SECTION STYLING*/
.top-section{
    grid-row: 3;
    grid-column: 2/13;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
}

/* profile information card */
.profile-information{
    display: grid;
    grid-column: 1/3;
    background-color: #1A172C;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    overflow-wrap: break-word;
}

/* logged in state */
#profile-picture{
    max-width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

#username{
    color: #CD7CA4;
    font-size: 0.9rem;
    margin-left: 1.2rem;
}

#logout-button{
    background-color: #CD7CA4;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1rem 0.2rem 1rem;
    margin: 1rem;
    max-width: 100%;
    color: #151324;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    display: block;
}

#logout-button:hover{
    background-color: #814E69;
}

#logout-button:active{
    background-color: #CD7CA4;
}

/* logged out state */
#prompt-text{
    color: #CD7CA4;
    text-align: center;
}

#login-button{
    display: inline-block; 
    height: 1.5rem;
    background-color: #CD7CA4;
    border: none;
    border-radius: 30px;
    color: #151324;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    padding-top: 0.3rem;
}

#login-button:hover{
    background-color: #814E69;
}

#login-button:active{
    background-color: #CD7CA4;
}

#register-button{
    display: inline-block; 
    height: 1.5rem;
    background-color: #819A88;
    border: none;
    border-radius: 30px;
    color: #151324;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    padding-top: 0.3rem;
    margin-top: 0.3rem;
}

#register-button:hover{
    background-color: #6D8373;
}

#register-button:active{
    background-color: #E0DFDD;
}


/* new post card */
/*logged in state*/
#new-post-section{
    background-color: #1A172C;
    border: none;
    border-radius: 20px;
    grid-column: 3/10;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#new-post-title{
    grid-row: 1;
    grid-column: 1/7;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #151324;
    height: 7rem;
    color: #E0DFDD;
    padding: 1rem;
    font-size: 0.8rem;  
    max-height: 1rem;
}

#new-post-textarea{
    grid-row: 2;
    grid-column: 1/7;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #151324;
    height: 7rem;
    color: #E0DFDD;
    padding: 1rem;
    font-size: 0.8rem;  
}

#post-button{
    grid-row: 3;
    grid-column: 6;
    background-color: #CD7CA4;
    border: none;
    border-radius: 30px;
    padding: 0.2rem 1rem 0.8rem 1rem;
    margin: 0.5rem  1rem 0.5rem 0rem;
    max-width: 100%;
    max-height: 50%;
    color: #151324;
    font-weight: bold;
    font-size: 0.9rem;
}

#post-button:hover{
    background-color: #814E69;
}

#post-button:active{
    background-color: #CD7CA4;
}

/*logged out state*/
#new-post-logged-out{
    background-color: #1A172C;
    border: none;
    border-radius: 20px;
    grid-column: 3/10;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 3.5rem;
}

#logged-out-post-prompt{
    grid-row: 2;
    grid-column: 1/7;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    height: 7rem;
    color: #CD7CA4;
    text-align: center;
    padding: 1rem;
    font-size: 1rem; 
}


/*MAIN FEED SECTION*/
/* main feed container layout */
#main-feed-container{
    grid-row: 4;
    grid-column: 2/13;
    display: grid;
    grid-template-rows:auto;
    row-gap: 1rem;
}

/* logged out state message */
#logged-out-prompt{
    text-align: center;
    color: #CD7CA4;
    margin: 3rem;
    background-color: #1A172C;
    border: none;
    border-radius: 20px;
    padding: 5rem;
}

/* blog post card styling including title, post content, username and date*/
.blog-post{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #1A172C;
    border: none;
    border-radius: 20px;
    padding: 1.5rem;
}

.post-title{
    grid-column: 1/8;
    grid-row: 1;
    color: #819A88;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.post-content{
    grid-column: 1/8;
    grid-row: 2;
    font-size: 1rem;
    color: #E4E1DC;
    margin-left: 1rem;
}

.post-username{
    grid-row: 3;
    grid-column: 1;
    font-size: 0.8rem;
    margin-left: 1rem;
    color: #819A88;
}

.date{
    grid-row: 3;
    grid-column: 3;
    font-size: 0.8rem;
    color: #819A88;
}

/* delete button for own posts in my posts section */
.delete-button{
    background-color: transparent;
    width: 2.3rem;
    border: none;
    grid-column: 8;
    grid-row: 1;
    justify-self: right;
}

.delete-button svg{
    fill: #819A88;
}

.delete-button svg:hover{
    fill:#E0DFDD ;
}

.delete-button svg:active{
    fill: #819A88;
}



/*MEDIA QUERIES*/
/* breakpoint 1 */
@media (max-width: 1180px) {
    .profile-information{
        grid-row: 1;
        grid-column: 1/10;
    }

    #new-post-section{
        grid-row: 2;
        grid-column: 1/10;
    }

    #new-post-logged-out{
        grid-row: 2;
        grid-column: 1/10;
    }
  
    .login-button{
        padding: 0.5rem;
    }

    #logout-button{
        padding: 0.5rem 1rem 0.5rem 1rem;
    }   
}

@media (max-width: 365px) {
    section{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* breakpoint 2 */
@media (max-width: 322px) {
    .logout-button{
        max-width: 100%;
    }
}